@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-darker: theme("colors.zinc.950");
  --primary-dark: theme("colors.zinc.900");
  --primary-base: theme("colors.zinc.600");
  --primary-light: theme("colors.zinc.300");
  --primary-lighter: theme("colors.zinc.50");

  --accent-light: hsl(358, 85%, 73%);
  --accent-base: #f15156;

  --secondary-base: #0d3b66;

  --paragraph: var(--primary-base);
  --title: var(--primary-dark);
  --placeholder: theme("colors.zinc.400");
}

body {
  @apply bg-zinc-50 text-zinc-900;
}

h1 {
  color: var(--title);
  @apply text-4xl font-semibold;
}

h2 {
  color: var(--title);
  @apply text-2xl font-semibold;
}

h3 {
  color: var(--title);
  @apply text-xl font-semibold;
}

p {
  color: var(--paragraph);
  @apply text-base;
}

small {
  color: var(--paragraph);
  @apply text-sm;
}

button {
  color: var(--primary-lighter);
  background: var(--primary-darker);
  @apply rounded-md px-3 py-1.5 text-base;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

dialog::backdrop {
  background: hsl(0, 0%, 0%, 10%);
  backdrop-filter: blur(20px);
}
